In [36]:
import pandas as pd

In [37]:
def create_df(file_name, skip_rows = [0]):
    """
    This file creates a data frame from reading a provided `file_name`.
    
    Arguments:
    `file_name`: name of the file, string
    `skip_rows`: array, tells which rows to skip when reading a csv file
    
    Output:
    `df`: a dataframe containing `file_name` contents
    """
    path = 'Data/' + file_name
    df = pd.read_csv(path, skiprows = skip_rows)
    return df

In [38]:
def rename_df(df):
    """
    This function renames the columns in a dataframe by converting original column names to lowercase,
    removing special characters, and adding a descriptor to the original column name to identify the dataset it came from.
    
    Arguments:
    
    Output:
    `df`: a dataframe with the new column names
    """
    
    column_names = {}
    for name in df.columns:
        column_names[name] = name.replace(",","").replace(" - ","_").replace(" ","_").replace("%","").lower()
    df = df.rename(columns=column_names)
    return df

In [39]:
def insert_nan(descriptor):
    if descriptor =='See Plan Brochure':
        return 'NaN'
    return descriptor

In [40]:
def string_to_float(descriptor):
    descriptor = (str(descriptor).replace("$","").replace(",","").replace("%",""))
    if descriptor != 'See Plan Brochure':
        descriptor = float(descriptor)
    return descriptor

In [41]:
interested_old_columns = ['Plan ID (Standard Component)','State Code', 'Metal Level', 'Issuer Name', 
                          'Plan Marketing Name','Plan Type',
                          'EHB Percent of Total Premium', 'Premium Child Age 0-14','Premium Child Age 18' , 'Premium Adult Individual Age 21',
 'Premium Adult Individual Age 27',
 'Premium Adult Individual Age 30 ',
 'Premium Adult Individual Age 40 ',
 'Premium Adult Individual Age 50 ',
 'Premium Adult Individual Age 60 ',
 'Premium Couple 21  ',
 'Premium Couple 30 ',
 'Premium Couple 40 ',
 'Premium Couple 50 ',
 'Premium Couple 60 ',
 'Couple+1 child, Age 21',
 'Couple+1 child, Age 30 ',
 'Couple+1 child, Age 40 ',
 'Couple+1 child, Age 50 ',
 'Couple+2 children, Age 21',
 'Couple+2 children, Age 30 ',
 'Couple+2 children, Age 40 ',
 'Couple+2 children, Age 50',
 'Couple+3 or more Children, Age 21',
 'Couple+3 or more Children, Age 30',
 'Couple+3 or more Children, Age 40',
 'Couple+3 or more Children, Age 50',
 'Individual+1 child, Age 21',
 'Individual+1 child, Age 30',
 'Individual+1 child, Age 40',
 'Individual+1 child, Age 50',
 'Individual+2 children, Age 21',
 'Individual+2 children, Age 30',
 'Individual+2 children, Age 40',
 'Individual+2 children, Age 50',
 'Individual+3 or more children, Age 21',
 'Individual+3 or more children, Age 30',
 'Individual+3 or more children, Age 40',
 'Individual+3 or more children, Age 50',
                          'Standard Plan Cost Sharing', 'Medical Deductible - Individual - Standard',
                          'Medical Deductible - Family - Standard',
                          'Medical Maximum Out Of Pocket - Individual - Standard',
                          'Medical Maximum Out Of Pocket - Family - Standard']

In [42]:
df = create_df('Individual_Market_Medical_07_25_2019.csv')
df = df[interested_old_columns]
df = rename_df(df)
df = df.rename(columns={'plan_id_(standard_component)':'plan_id','state_code':'state'})
df
#df.columns.to_list()

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,plan_id,state,metal_level,issuer_name,plan_marketing_name,plan_type,ehb_percent_of_total_premium,premium_child_age_0-14,premium_child_age_18,premium_adult_individual_age_21,...,individual+2_children_age_50,individual+3_or_more_children_age_21,individual+3_or_more_children_age_30,individual+3_or_more_children_age_40,individual+3_or_more_children_age_50,standard_plan_cost_sharing,medical_deductible_individual_standard,medical_deductible_family_standard,medical_maximum_out_of_pocket_individual_standard,medical_maximum_out_of_pocket_family_standard
0,38344AK1060001,AK,Gold,Premera Blue Cross Blue Shield of Alaska,Premera Blue Cross Preferred Gold 1500,PPO,97.20%,$412.00,$492.00,$539.00,...,"$1,787.00","$1,775.00","$1,848.00","$1,925.00","$2,199.00",NaN,"$1,500","$3,000","$6,000","$12,000"
1,38344AK1060002,AK,Silver,Premera Blue Cross Blue Shield of Alaska,Premera Blue Cross Preferred Silver 4500,PPO,97.40%,$438.00,$523.00,$572.00,...,"$1,898.00","$1,886.00","$1,964.00","$2,046.00","$2,336.00",NaN,"$4,500","$9,000","$7,350","$14,700"
2,38344AK1060004,AK,Bronze,Premera Blue Cross Blue Shield of Alaska,Premera Blue Cross Preferred Bronze 6350,PPO,95.90%,$290.00,$346.00,$379.00,...,"$1,257.00","$1,249.00","$1,300.00","$1,354.00","$1,547.00",NaN,"$6,350","$12,700","$7,800","$15,600"
3,38344AK1070001,AK,Silver,Premera Blue Cross Blue Shield of Alaska,Premera Blue Cross Preferred Silver 3000 HSA,PPO,99.90%,$432.00,$515.00,$564.00,...,"$1,872.00","$1,860.00","$1,937.00","$2,017.00","$2,304.00",NaN,"$3,000","$6,000","$6,600","$13,200"
4,38344AK1070002,AK,Bronze,Premera Blue Cross Blue Shield of Alaska,Premera Blue Cross Preferred Bronze 5250 HSA,PPO,99.80%,$300.00,$358.00,$392.00,...,"$1,300.00","$1,292.00","$1,345.00","$1,401.00","$1,600.00",NaN,"$5,250","$10,500","$6,700","$13,400"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42231,11269WY0070018,WY,Silver,Blue Cross Blue Shield of Wyoming,BlueSelect Silver Value,PPO,100.00%,$523.77,$625.11,$684.67,...,"$2,270.36","$2,255.98","$2,348.41","$2,446.32","$2,794.13",NaN,"$3,000","$6,000","$7,900","$15,800"
42232,11269WY0070019,WY,Bronze,Blue Cross Blue Shield of Wyoming,BlueSelect Bronze Value,PPO,100.00%,$367.41,$438.48,$480.27,...,"$1,592.57","$1,582.50","$1,647.33","$1,716.01","$1,959.98",NaN,"$6,000","$12,000","$7,900","$15,800"
42233,11269WY0070022,WY,Bronze,Blue Cross Blue Shield of Wyoming,BlueSelect Bronze Balance,PPO,100.00%,$370.02,$441.60,$483.68,...,"$1,603.89","$1,593.74","$1,659.04","$1,728.21","$1,973.91",NaN,"$7,900","$15,800","$7,900","$15,800"
42234,11269WY0070023,WY,Silver,Blue Cross Blue Shield of Wyoming,BlueSelect Silver Balance,PPO,100.00%,$518.82,$619.19,$678.19,...,"$2,248.89","$2,234.65","$2,326.21","$2,423.19","$2,767.71",NaN,"$6,000","$12,000","$7,900","$15,800"
42235,11269WY0070024,WY,Gold,Blue Cross Blue Shield of Wyoming,BlueSelect Gold Balance,PPO,100.00%,$433.20,$517.00,$566.27,...,"$1,877.75","$1,865.87","$1,942.32","$2,023.29","$2,310.95",NaN,"$2,000","$4,000","$7,900","$15,800"

In [43]:
df['plan_id'] = df['plan_id'].astype('category')

In [44]:
full_states = {'AK':'Alaska', 'AL':'Alabama', 'AR': 'Arkansas', 'AZ':'Arizona', 'DE': 'Delaware', 'FL':'Florida',
              'GA': 'Georgia', 'HI': 'Hawaii', 'IA': 'Iowa', 'IL': 'Illinois', 'IN': 'Indiana', 'KS': 'Kansas',
              'KY':'Kentucky', 'LA': 'Louisianna', 'ME': 'Maine', 'MI': 'Michigan', 'MO':'Missouri',
               'MS': 'Mississippi', 'MT': 'Montana', 'NC':'North Carolina', 'ND':'North Dakota', 'NE': 'Nebraska',
              'NH':'New Hampshire', 'NJ':'New Jersey', 'NM':'New Mexico', 'NV': 'Nevada', 'OH': 'Ohio', 'OK':'Oklahoma',
              'OR':'Oregon', 'PA':'Pennsylvania', 'SC':'South Carolina', 'SD':'South Dakota', 'TN':'Tennessee',
              'TX':'Texas', 'UT':'Utah','VA':'Virginia', 'WI':'Wisconsin', 'WV':'West Virginia', 'WY':'Wyoming'}

df['state'] = df['state'].replace(full_states).astype('category')

In [45]:
df.dtypes

plan_id                                              category
state                                                category
metal_level                                            object
issuer_name                                            object
plan_marketing_name                                    object
plan_type                                              object
ehb_percent_of_total_premium                           object
premium_child_age_0-14                                 object
premium_child_age_18                                   object
premium_adult_individual_age_21                        object
premium_adult_individual_age_27                        object
premium_adult_individual_age_30_                       object
premium_adult_individual_age_40_                       object
premium_adult_individual_age_50_                       object
premium_adult_individual_age_60_                       object
premium_couple_21__                                    object
premium_couple_30_                                     object
premium_couple_40_                                     object
premium_couple_50_                                     object
premium_couple_60_                                     object
couple+1_child_age_21                                  object
couple+1_child_age_30_                                 object
couple+1_child_age_40_                                 object
couple+1_child_age_50_                                 object
couple+2_children_age_21                               object
couple+2_children_age_30_                              object
couple+2_children_age_40_                              object
couple+2_children_age_50                               object
couple+3_or_more_children_age_21                       object
couple+3_or_more_children_age_30                       object
couple+3_or_more_children_age_40                       object
couple+3_or_more_children_age_50                       object
individual+1_child_age_21                              object
individual+1_child_age_30                              object
individual+1_child_age_40                              object
individual+1_child_age_50                              object
individual+2_children_age_21                           object
individual+2_children_age_30                           object
individual+2_children_age_40                           object
individual+2_children_age_50                           object
individual+3_or_more_children_age_21                   object
individual+3_or_more_children_age_30                   object
individual+3_or_more_children_age_40                   object
individual+3_or_more_children_age_50                   object
standard_plan_cost_sharing                            float64
medical_deductible_individual_standard                 object
medical_deductible_family_standard                     object
medical_maximum_out_of_pocket_individual_standard      object
medical_maximum_out_of_pocket_family_standard          object
dtype: object

In [46]:
for column in (df.columns.to_list())[:6]:
    df[column] = df[column].astype('category')
for column in (df.columns.to_list())[6:]:
    df[column] = df[column].apply(insert_nan)
    df[column] = df[column].apply(string_to_float)

In [47]:
# Dropping standard_plan_cost_sharing because it's all NaN values
df = df.drop(columns = "standard_plan_cost_sharing")

In [48]:
df.to_csv('Data/Cleaned_Health_Plans.csv')

In [16]:
df

,plan_id,state,metal_level,issuer_name,plan_marketing_name,plan_type,ehb_percent_of_total_premium,premium_child_age_0-14,premium_child_age_18,premium_adult_individual_age_21,...,individual+2_children_age_50,individual+3_or_more_children_age_21,individual+3_or_more_children_age_30,individual+3_or_more_children_age_40,individual+3_or_more_children_age_50,standard_plan_cost_sharing,medical_deductible_individual_standard,medical_deductible_family_standard,medical_maximum_out_of_pocket_individual_standard,medical_maximum_out_of_pocket_family_standard
0,38344AK1060001,Alaska,Gold,Premera Blue Cross Blue Shield of Alaska,Premera Blue Cross Preferred Gold 1500,PPO,97.2,412.00,492.00,539.00,...,1787.00,1775.00,1848.00,1925.00,2199.00,NaN,1500.0,3000.0,6000.0,12000.0
1,38344AK1060002,Alaska,Silver,Premera Blue Cross Blue Shield of Alaska,Premera Blue Cross Preferred Silver 4500,PPO,97.4,438.00,523.00,572.00,...,1898.00,1886.00,1964.00,2046.00,2336.00,NaN,4500.0,9000.0,7350.0,14700.0
2,38344AK1060004,Alaska,Bronze,Premera Blue Cross Blue Shield of Alaska,Premera Blue Cross Preferred Bronze 6350,PPO,95.9,290.00,346.00,379.00,...,1257.00,1249.00,1300.00,1354.00,1547.00,NaN,6350.0,12700.0,7800.0,15600.0
3,38344AK1070001,Alaska,Silver,Premera Blue Cross Blue Shield of Alaska,Premera Blue Cross Preferred Silver 3000 HSA,PPO,99.9,432.00,515.00,564.00,...,1872.00,1860.00,1937.00,2017.00,2304.00,NaN,3000.0,6000.0,6600.0,13200.0
4,38344AK1070002,Alaska,Bronze,Premera Blue Cross Blue Shield of Alaska,Premera Blue Cross Preferred Bronze 5250 HSA,PPO,99.8,300.00,358.00,392.00,...,1300.00,1292.00,1345.00,1401.00,1600.00,NaN,5250.0,10500.0,6700.0,13400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42231,11269WY0070018,Wyoming,Silver,Blue Cross Blue Shield of Wyoming,BlueSelect Silver Value,PPO,100.0,523.77,625.11,684.67,...,2270.36,2255.98,2348.41,2446.32,2794.13,NaN,3000.0,6000.0,7900.0,15800.0
42232,11269WY0070019,Wyoming,Bronze,Blue Cross Blue Shield of Wyoming,BlueSelect Bronze Value,PPO,100.0,367.41,438.48,480.27,...,1592.57,1582.50,1647.33,1716.01,1959.98,NaN,6000.0,12000.0,7900.0,15800.0
42233,11269WY0070022,Wyoming,Bronze,Blue Cross Blue Shield of Wyoming,BlueSelect Bronze Balance,PPO,100.0,370.02,441.60,483.68,...,1603.89,1593.74,1659.04,1728.21,1973.91,NaN,7900.0,15800.0,7900.0,15800.0
42234,11269WY0070023,Wyoming,Silver,Blue Cross Blue Shield of Wyoming,BlueSelect Silver Balance,PPO,100.0,518.82,619.19,678.19,...,2248.89,2234.65,2326.21,2423.19,2767.71,NaN,6000.0,12000.0,7900.0,15800.0
42235,11269WY0070024,Wyoming,Gold,Blue Cross Blue Shield of Wyoming,BlueSelect Gold Balance,PPO,100.0,433.20,517.00,566.27,...,1877.75,1865.87,1942.32,2023.29,2310.95,NaN,2000.0,4000.0,7900.0,15800.0

In [17]:
df.columns

Index(['plan_id', 'state', 'metal_level', 'issuer_name', 'plan_marketing_name',
       'plan_type', 'ehb_percent_of_total_premium', 'premium_child_age_0-14',
       'premium_child_age_18', 'premium_adult_individual_age_21',
       'premium_adult_individual_age_27', 'premium_adult_individual_age_30_',
       'premium_adult_individual_age_40_', 'premium_adult_individual_age_50_',
       'premium_adult_individual_age_60_', 'premium_couple_21__',
       'premium_couple_30_', 'premium_couple_40_', 'premium_couple_50_',
       'premium_couple_60_', 'couple+1_child_age_21', 'couple+1_child_age_30_',
       'couple+1_child_age_40_', 'couple+1_child_age_50_',
       'couple+2_children_age_21', 'couple+2_children_age_30_',
       'couple+2_children_age_40_', 'couple+2_children_age_50',
       'couple+3_or_more_children_age_21', 'couple+3_or_more_children_age_30',
       'couple+3_or_more_children_age_40', 'couple+3_or_more_children_age_50',
       'individual+1_child_age_21', 'individual+1_child_age_30',
       'individual+1_child_age_40', 'individual+1_child_age_50',
       'individual+2_children_age_21', 'individual+2_children_age_30',
       'individual+2_children_age_40', 'individual+2_children_age_50',
       'individual+3_or_more_children_age_21',
       'individual+3_or_more_children_age_30',
       'individual+3_or_more_children_age_40',
       'individual+3_or_more_children_age_50', 'standard_plan_cost_sharing',
       'medical_deductible_individual_standard',
       'medical_deductible_family_standard',
       'medical_maximum_out_of_pocket_individual_standard',
       'medical_maximum_out_of_pocket_family_standard'],
      dtype='object')

In [18]:
df['state'].unique()

['Alaska', 'Alabama', 'Arkansas', 'Arizona', 'Delaware', ..., 'Utah', 'Virginia', 'Wisconsin', 'West Virginia', 'Wyoming']
Length: 39
Categories (39, object): ['Alaska', 'Alabama', 'Arkansas', 'Arizona', ..., 'Virginia', 'Wisconsin', 'West Virginia', 'Wyoming']

In [19]:
state_list = ['Alaska', 'Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
              'District of Columbia',
             'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 
             'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 
             'Missouri', 'Montana', 'Nebraska', 'Nevada', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
             'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
             'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
             'West Virginia', 'Wisconsin', 'Wyoming']

arr = []
for state in state_list:
    if state not in df['state'].unique():
        arr.append(state)
print(arr)

['California', 'Colorado', 'Connecticut', 'District of Columbia', 'Idaho', 'Louisiana', 'Maryland', 'Massachusetts', 'Minnesota', 'New York', 'Rhode Island', 'Vermont', 'Washington']

In [20]:
df.groupby('state')['plan_id'].count()

state
Alabama            487
Alaska             145
Arizona            120
Arkansas          1803
Delaware            24
Florida           2332
Georgia           1932
Hawaii              92
Illinois          1706
Indiana           1881
Iowa              1134
Kansas            1173
Kentucky          1373
Louisianna        1413
Maine              436
Michigan          2156
Mississippi        410
Missouri          1487
Montana           1013
Nebraska           683
Nevada             112
New Hampshire      166
New Jersey         441
New Mexico         718
North Carolina    1048
North Dakota      1169
Ohio              2207
Oklahoma          1006
Oregon             517
Pennsylvania      1106
South Carolina    1117
South Dakota      1023
Tennessee          911
Texas             3581
Utah               669
Virginia          1686
West Virginia      770
Wisconsin         1959
Wyoming            230
Name: plan_id, dtype: int64